<style media="screen">
  img {
      height: 5rem;
      width: 6rem;
  }

  .pending {
      background-color: blue;
  }

  .completed {
      background-color: orange;
  }

  .input {
      background-color: green;
      
  }

  .item {
      border: 1rem solid blue;
  }

    .item2 {
        border: 1rem solid orange;
    }

    .item, 
    .item2 {
        background-color: white;
    }

    .input {
        padding: 1rem;
    }

    .pending,
    .input,
    .completed {
        border: 1rem solid white;
    }

</style>

<nav class="navbar navbar-light bg-light d-flex flex-column justify-content-center">
  <h1 class="navbar-brand mb-0 h1">Bug Tracker</h1>
  <p>An issue tracker for development projects</p>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-8 pending">
            <div class="row item">
                <div class="col-md-12">sdsdfdf</div>
            </div>
        </div>
        <div class="col-md-4 completed">
            <div class="row item2">
                <div class="col-md-12">hi</div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12 input">
            <form>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Example textarea</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <button class="btn btn-danger" type="submit">Button</button>
            </form>
        </div>
    </div>
</div>

