* {
    font-family: 'Roboto Slab', serif;
}

.navbar {
    background-color: rgb(255, 226, 61) !important;
    padding: 1rem;
}

.navbar-brand {
    font-size: 3rem;
}

h3 {
    color: white;
}

img {
    height: 5rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
    padding:0.5rem;
}

body {
    background-color: rgb(24, 167, 24);
}

.input {
    background-color: rgb(24, 167, 24);

}

.item {
    border: 1rem solid white;
}

.item2 {
    border: 1rem solid white;
}

.item, 
.item2 {
    background-color: white;
    margin-top: 1rem;
}

.item:hover,
.item2:hover {
    cursor: pointer;
}

.pending,
.completed {
    border: 1rem solid rgb(24, 167, 24);
}

.container {
    padding: 1rem;
}

.textContainer,
.container {
    width: 80%;
}

#title {
    width: 40%;
}

form {
    margin-bottom: 3rem;
}

@media only screen and (max-width: 500px) {
    .textContainer,
    .container,
    #title {
        width: 100%;
    }
}